/****** VARIABLES ******/
:root {
--transition: 0.4s ease-in;
--color-white: #F5F5F5;
--color-black: #2B2B2B;

--color-gray1: #1f2029;
--color-gray2: #14151a;

--color-blue: #0062FF;
--color-blue2: #0000FE;
}